.container-fluid{
    background-color:#e74c3c;
}

.container{
    background-color:#2ecc71;
}

.well{
   background-color:#27ae60; 
   border-radius:5px;
   border:1px solid black;
   text-align:center;
}